body {
    background-color: lavender;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin: 0;
}

#birthday-message {
    text-align: center;
}

#candles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10;
}

.candle {
    width: 30;
    height: 60;
    background-color: yellow;
    border: 1 solid #000;
    cursor: pointer;
    position: relative;
}

.candle::before {
    content: '';
    position: absolute;
    top: -10;
    left: 50;
 //   transform: translateX(-50%);
    width: 10;
    height: 10;
    background-color: orange;
    border-radius: 50;
}

.text-box {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10;
    border: 1 solid black;
    z-index: 10;
}
